
<table>
    <tr>
        <td><a href="https://teamorborb.github.io/CarHub/">Home</a></td>
        <td><a href="https://teamorborb.github.io/CarHub/Taiyo">Cart</a></td>
        <td><a href="https://teamorborb.github.io/CarHub/Luna">Profile</a></td>
        <td><a href="https://teamorborb.github.io/CarHub/Ethan">Ethan</a></td>
        <td><a href="https://teamorborb.github.io/CarHub/Nikhil">Nikhil</a></td>
        <td><a href="https://teamorborb.github.io/CarHub/Aboutus">About Us</a></td>
        <td><a href="https://teamorborb.github.io/CarHub/Search">Search</a></td>
    </tr>
</table>
<div id = "preloader"></div>
<script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
        loader.style.display = "none";
    })
</script>
</body>
