<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="https://teamorborb.github.io/OrbOrb-Reunion/Taiyo/">Cart</a></td>
        <td><a href="https://teamorborb.github.io/OrbOrb-Reunion/Luna/">Profile</a></td>
        <td><a href="https://teamorborb.github.io/OrbOrb-Reunion/Ethan">Ethan</a></td>
        <td><a href="https://teamorborb.github.io/OrbOrb-Reunion/Nikhil/">Nikhil</a></td>
        <td><a href="https://teamorborb.github.io/OrbOrb-Reunion/Aboutus/">About Us</a></td>
        <td><a href="https://teamorborb.github.io/OrbOrb-Reunion/Search/">Search</a></td>
    </tr>
</table>
</body>
