#preloader {
    background: rgb(150, 212, 237) url("https://media.giphy.com/media/3o6ZtjUZAD5Lf0QFLW/giphy.gif") no-repeat center center;
    background-size: 10%;
    height: 100vh;
    min-width: 929.00;
    min-height: 929.00;
    top: -30px;
    width: 100%;
    position: fixed;
    z-index: 100;
    }